DJANGO_ENV=production
DJANGO_SECRET_KEY=gere-uma-chave-longa-e-aleatoria
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=medextract
POSTGRES_USER=medextract
POSTGRES_PASSWORD=troque-por-uma-senha-forte

OCR_SPACE_API_KEY=
OCR_API_URL=https://api.ocr.space/parse/image
HF_TOKEN=
HF_AUDIO_API_URL=https://router.huggingface.co/hf-inference/models/openai/whisper-small
